[Desktop Entry]
Name=Calibre (AppImage)
GenericName=Organizador y lector de e-books
Comment=Organiza, almacena, convierte y lee tus e-books
Exec=/mnt/Nueva/Applications/AppImage/Calibre-9.4.0-1_JB-x86_64.AppImage %f
Icon=calibre
Terminal=false
Type=Application
Categories=Office;Graphics;Viewer;
MimeType=application/x-mobipocket-ebook;application/epub+zip;application/x-sony-bbeb;application/x-cbz;application/x-cbr;application/vnd.amazon.mobi8-ebook;application/pdf;application/x-fictionbook+xml;
