[Desktop Entry]
Name=Telegram
Comment=New era of messaging
TryExec=/mnt/Nueva/Applications/AppImage/Telegram_Desktop-x86_64.AppImage
Exec=/mnt/Nueva/Applications/AppImage/Telegram_Desktop-x86_64.AppImage -- %U
Icon=org.telegram.desktop
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=/mnt/Nueva/Applications/AppImage/Telegram_Desktop-x86_64.AppImage -quit
Name=Quit Telegram
Icon=application-exit
