[Unit]
Description=Montar discos
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount-disks.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
